.file-converter-form-upload-box {
    width: 300px;
    height: 150px;
    margin: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 3px dashed #eee;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.file-converter-form-upload-box:hover {
    border-color: #4A90E2;
}

.file-converter-form-upload-box.active {
    background-color: #888888;
    border-color: #1a1a1a;
}

.file-converter-form-upload-box-file {
    display: none;
}

.file-converter-form-file-info {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.file-converter-form-file-info .file-converter-form-file-info-key {
    display: block;
    color: #4A90E2;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 4px;
}

.file-converter-form-file-info .file-converter-form-file-info-value {
    font-size: 20px;
}

.file-converter-center {
    text-align: center;
}

.file-converter-header {
    background-color: #4A90E2;
    color: white;
    padding: 10px 20px;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.file-converter-form-upload-button {
    background-color: #4A90E2; /* 버튼 배경색 */
    width: 300px;
    color: white;              /* 버튼 글자색 */
    border: none;              /* 테두리 제거 */
    padding: 10px 20px;        /* 패딩 설정 */
    margin-top: 30px;
    text-align: center;
    font-size: 16px;           /* 글자 크기 */
    border-radius: 5px;        /* 테두리 둥글게 설정 */
    cursor: pointer;           /* 커서 모양 변경 */
    outline: none;             /* 포커스 아웃라인 제거 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 버튼 그림자 */
    transition: background-color 0.3s; /* 배경색 변경 애니메이션 */
}
